CURRENT_VERSION = 0.3.0
CURRENT_BUILD = UNKNOWN

IPHONEOS_DEPLOYMENT_TARGET = 13.0
ARCHS = arm64
VALID_ARCHS = arm64

ENABLE_BITCODE = NO

GECKO_VERSION = 150.0.2
GECKO_DIST = $(SRCROOT)/../engine/firefox/obj-aarch64-apple-ios/dist

HEADER_SEARCH_PATHS = $(inherited) $(GECKO_DIST)/include $(GECKO_DIST)/include/GeckoView $(SRCROOT)/GeckoView
LIBRARY_SEARCH_PATHS = $(inherited) $(GECKO_DIST)/bin
FRAMEWORK_SEARCH_PATHS = $(inherited) $(BUILT_PRODUCTS_DIR)
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
SWIFT_OBJC_BRIDGING_HEADER = $(SRCROOT)/Reynard/Bridging/Reynard-Bridging-Header.h
